@import 'shared/styles/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.logo {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.logo__text-row {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  justify-content: space-between;
  margin-left: 0;
  width: 82%;
  margin-top: -55px;
  width: 110px;
}

.logo__column {
  display: flex;
  flex-direction: row;
}

.logo__text {
  display: flex;
  font-size: 3rem;
  letter-spacing: 1px;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: 0;
}

.header__text {
  display: flex;
  font-size: 1.9rem;
  font-family: 'Roboto';
  font-weight: 500;
}

.logo__icon {
  display: flex;
  width: 20px;
  height: 36px;
  background-color: $orange;
  margin-top: 10px;
}