@import 'shared/styles/colors.scss';

.spinner {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: $orange;
  animation: rotateplane 1.2s infinite ease-in-out;
  align-items: center;
  justify-content: center;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}