@import 'shared/styles/colors.scss';

.input__container {
  position: relative;
}

.card__input {
  display: flex;
  width: 250px;
  border: none;
  border-bottom: 1px solid $lightGrey;
  outline: 0;
  font-size: 1rem;
  color: $lightGrey;
  font-family: 'Roboto';
}

.input__placeholder {
  position: absolute;
  bottom: 30px;
  left: 2px;
  pointer-events: none;
  font-size: 1rem;
  color: $lightGrey;
}

.input__mandatory-mark {
  color: $red;
}

.input__errors {
  display: block;
  color: $red;
  font-size: 0.7rem;
  justify-content: center;
  height: 20px;
}