@import 'shared/styles/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.card__errors {
  color: red;
  font-size: 0.7rem;
}

.card__input {
  display: flex;
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 2px solid lightgray;
  outline: 0;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #CCCCCC;
  font-family: 'Roboto';
}

.card__textarea {
  margin-top: 60px;
  display: flex;
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 2px solid lightgray;
  outline: 0;
  font-size: 1rem;
  font-family: 'Roboto';
  resize: none;
  top: 0;
  bottom: 0;
  
}


.form__placeholder {
  position: relative;
}

.form__placeholder-text {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  height: 25px;
  margin: auto;
  color: #ccc;
  font-size: 1rem;
  font-family: 'Roboto';
}

.form__placeholder-star {
  color: red;
}

// .form__placeholder .card__input:valid + .form__placeholder-text {
//   display: none;
// }