@import 'shared/styles/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.card__errors {
  color: $red;
  font-size: 0.7rem;
  margin-top: -10px;
}

.card__input {
  display: flex;
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid $lightGrey;
  outline: 0;
  font-size: 1rem;
  margin-bottom: 20px;
  color: $lightGrey;
  font-family: 'Roboto';
}

.card__textarea {
  margin-top: 60px;
  display: flex;
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid $lightGrey;
  outline: 0;
  font-size: 1rem;
  color: $lightGrey;
  font-family: 'Roboto';
  resize: none
}

.card__textarea::placeholder{
  color: $lightGrey;
}