@import 'shared/styles/colors.scss';

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $lightGrey;
  padding-left:390px ;
  height: 13vh;
  justify-content: space-between;
}

