@import 'shared/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.navigation {
  display: flex;
  background-color: $white;
  height: 4.5vh;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin-left: -40px;
  margin-top: 21px;

}

.navigation__link-text {
  display: flex;
  font-family: 'Roboto';
  text-decoration: none;
  color: $darkGray;
  font-size: 0.9rem;
  border-bottom: 2px solid $white;
  margin-right: 60px;
}

.active {
  color: $orange;
  border-bottom-color: $orange;
}