@import 'shared/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.navigation {
  display: flex;
  height: 30px;
  width: 100%;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;
}

.navigation__link-text {
  display: flex;
  text-decoration: none;
  color: $darkGray;
  font-size: 0.9rem;
  margin-right: 60px;
  padding-bottom: 11px;
}

.active {
  color: $orange;
  border-bottom: 3px solid $orange;
}