@import 'shared/styles/colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  background-color: $darkGray;
  color: $lightGray;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-size: 0.7rem;
  font-family: 'Roboto';
  color: $gray;
}

.footer__line {
  border-bottom: 1px solid $gray;
  width: 240px;
  opacity: 0.3;
}