@import 'shared/styles/colors.scss';

.main {
  text-align: center;
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 70vh;
}

.footer {
  display: flex;
  background-color: $darkGray;
  color: white;
  height: 15vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
